.login-container {   
    background: linear-gradient(to right, #1b0898d3, #2bf1ff);
}

mat-card-header {
    font-family: Verdana, sans-serif;
}

button {
    background: linear-gradient(to right, #1b0898d3, #2bf1ff);
}