
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'VibrantHandmark';
    src: url('assets/fonts/VibrantHandmark-Yzpza.otf') format('otf');
  }